{% extends 'base.html.twig' %}

{% block title %}ChampyLight :: Control{% endblock %}

{% block body %}
<div class="container">

    {% block flashMsg %}{{ parent() }}{% endblock %}

    <!-- HEADER -->
    <div class="row" id="header">
        <h1 class="col-xs-12" id="header_title">ChampyLight Controller</h1>
    </div>

    <form action="submit_values" method="POST">
        <!-- Command block to fire transiitons and set timer -->
        <div class="row" id="command">
                
            <!-- Fire transition -->
            <div class="col-sm-4 col-xs-12" id="fire_transition">
                <button type="submit" class="btn btn-default btn-lg">
                      <span class="glyphicon glyphicon-play" aria-hidden="true"> Fire transition</span>
                  </button>
            </div>
            
            <!-- Transition type -->
            <div class="col-sm-4 col-xs-12" id="fire_transition" style="display: none;">
                <input type="hidden" name="transition_type" value="linear">
            </div>
            
            <!-- Timer -->
            <div class="col-sm-8 col-xs-12" id="timer">
                <input id="slider_timer" 
                       type="text"
                       name="slider_timer"
                       value="5"
                       data-slider-min="1" 
                       data-slider-max="1800" 
                       data-slider-step="1" />
                       <span id="slider_timer_msg"> 
                           <i class="fa fa-clock-o">  <span id="slider_timer_value">5</span>''</i>
                       </span>
            </div>

        </div>
        <!-- List of channels that are in the patch -->
        <div class="row">
      
        {% for channel in channels %}

            {# Computing values for coming channel #}
            {% set channel_no = channel.channel %}

            {# Standards for BW #}
            {% set data_slider_enabled = "false" %}
            {% set data_slider_intensity_value = channel.intensity %}
            
            {% set data_slider_red_addr     = "" %}
            {% set data_slider_green_addr   = "" %}
            {% set data_slider_blue_addr    = "" %}
            {% set data_slider_white_addr   = "" %}
            {% set data_slider_red_value    = 255 %}
            {% set data_slider_green_value  = 255 %}
            {% set data_slider_blue_value   = 255 %}
            {% set data_slider_white_value  = 255 %}
            
            {# If is RGB, update #}
            {% if channel.type == 1 %}
                {% set data_slider_enabled = "true" %}

                {% set data_slider_red_addr     = channel.spotlights[0].dmxs[0].address %}
                {% set data_slider_green_addr   = channel.spotlights[0].dmxs[1].address %}
                {% set data_slider_blue_addr    = channel.spotlights[0].dmxs[2].address %}
                {% set data_slider_white_addr   = channel.spotlights[0].dmxs[3].address %}
                
                {% set data_slider_red_value    = channel.spotlights[0].dmxs[0].intensity %}
                {% set data_slider_green_value  = channel.spotlights[0].dmxs[1].intensity %}
                {% set data_slider_blue_value   = channel.spotlights[0].dmxs[2].intensity %}
                {% set data_slider_white_value  = channel.spotlights[0].dmxs[3].intensity %}

                {# Creating hidden fields for other RGB spotlights of patch #}
                {% for idx,sibling in channel.spotlights if sibling.dmxs[0].address != data_slider_red_addr %}

                <input type="hidden" 
                       name="cascade[{{ data_slider_red_addr }}][{{idx}}]" 
                       value="{{sibling.dmxs[0].address}}">

                <input type="hidden" 
                       name="cascade[{{ data_slider_green_addr }}][{{idx}}]" 
                       value="{{sibling.dmxs[1].address}}">
                       
                <input type="hidden" 
                       name="cascade[{{ data_slider_blue_addr }}][{{idx}}]" 
                       value="{{sibling.dmxs[2].address}}">
                       
                <input type="hidden" 
                       name="cascade[{{ data_slider_white_addr }}][{{idx}}]" 
                       value="{{sibling.dmxs[3].address}}">

                {% endfor %}

            {% endif %}

            <div class="channel channel_{{ channel_no }} col-lg-4 col-sm-6 col-xs-12">
                <div class="channel_content row">
                    <div class="channel_side channel_side_left col-xs-2">
                        <div class="channel_no col-xs-12">
                            <i class="fa fa-sliders">  {{ channel_no }}</i>
                        </div>

                        <div class="colour col-xs-offset-2 col-xs-8" id="chan_col_{{ channel_no }}">
                            
                        </div>  
                        
                        <div class="val_int col-xs-12">
                            <p><i class="fa fa-bolt"> <span id="val_int_{{ channel_no }}">{{ data_slider_intensity_value }}</span></i></p>
                        </div>
                        
                    </div>
                    
                    <div class="sliders col-xs-8">
                        <p class="slider_red">
                        <input type="text" 
                               class="span2 channel_{{ channel_no }}" 
                               name="dmxs[{{ data_slider_red_addr }}]"
                               value="{{ data_slider_red_value }}" 
                               data-slider-min="0" 
                               data-slider-max="255" 
                               data-slider-step="1" 
                               data-slider-value="{{ data_slider_red_value }}" 
                               data-slider-id="RC_{{ channel_no }}" 
                               id="R_{{ channel_no }}" 
                               data-slider-enabled="{{ data_slider_enabled }}"
                               data-slider-handle="round" />
                        </p>
                        <p class="slider_green">
                        <input type="text" 
                               class="span2 channel_{{ channel_no }}" 
                               name="dmxs[{{ data_slider_green_addr }}]"
                               value="{{ data_slider_green_value }}" 
                               data-slider-min="0" 
                               data-slider-max="255" 
                               data-slider-step="1" 
                               data-slider-value="{{ data_slider_green_value }}" 
                               data-slider-id="GC_{{ channel_no }}" 
                               id="G_{{ channel_no }}" 
                               data-slider-enabled="{{ data_slider_enabled }}"
                               data-slider-handle="round" />
                        </p>
                        <p class="slider_blue">
                        <input type="text" 
                               class="span2 channel_{{ channel_no }}" 
                               name="dmxs[{{ data_slider_blue_addr }}]"
                               value="{{ data_slider_blue_value }}" 
                               data-slider-min="0" 
                               data-slider-max="255" 
                               data-slider-step="1" 
                               data-slider-value="{{ data_slider_blue_value }}" 
                               data-slider-id="BC_{{ channel_no }}" 
                               id="B_{{ channel_no }}" 
                               data-slider-enabled="{{ data_slider_enabled }}"
                               data-slider-handle="round" />
                        </p>
                        <p class="slider_white">
                        <input type="text" 
                               class="span2 channel_{{ channel_no }}" 
                               name="dmxs[{{ data_slider_white_addr }}]"
                               value="{{ data_slider_white_value }}" 
                               data-slider-min="0" 
                               data-slider-max="255" 
                               data-slider-step="1" 
                               data-slider-value="{{ data_slider_white_value }}" 
                               data-slider-id="WC_{{ channel_no }}" 
                               id="W_{{ channel_no }}" 
                               data-slider-enabled="{{ data_slider_enabled }}"
                               data-slider-handle="round" />
                        </p>
                    </div>
                    
                    <div class="channel_side channel_side_right col-xs-2">
                        <div class="intensity col-xs-12">
                            <input id="int_{{ channel_no }}" 
                                   class="channel_{{ channel_no }}" 
                                   type="text" 
                                   name="channel_intensity[{{ channel_no }}]"
                                   value="{{ data_slider_intensity_value }}"
                                   data-slider-min="0" 
                                   data-slider-max="255" 
                                   data-slider-step="1" 
                                   data-slider-value="{{ data_slider_intensity_value }}" 
                                   data-slider-orientation="vertical"/>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            <!-- Foreach loop end -->    
        </div>
    </form>

    <!-- FOOTER -->
    <div class="row" id="footer">
        <div class="col-xs-12 btn-group btn-group-lg" role="group">
            <button type="button" id="control_btn" class="disabled col-xs-6 btn btn-default">Control</button>
            <button type="button" id="patch_btn" class="col-xs-6 btn btn-default">Patch</button>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- Scripts for sliders-->
<script type='text/javascript' src="{{ asset('bootstrap-slider/js/bootstrap-slider.js') }}"></script>
<script type='text/javascript' src="{{ asset('js/control.js') }}"></script>

{% endblock %}

