{% extends 'base.html.twig' %}

{% block title %}ChampyLight :: Patch{% endblock %}

{% block body %}
<div class="container">

    <!-- Flash message -->
    {% block flashMsg %}{{ parent() }}{% endblock %}
    
    <!-- HEADER -->
    <div class="row" id="header">
        <h1 class="col-xs-12" id="header_title">ChampyLight Controller</h1>
    </div>
        
    <!-- List of existing patched channels -->
    <div class="row">

        
    {% for patch in patchs %}

    {# Computing values for coming channel #}
    {% set channel_no = patch.channel %}

        <div class="channel col-lg-2 col-sm-4 col-xs-6">
            <div class="channel_content row">
                <div class="patch_side_left col-xs-4">
                    <div class="channel_no col-xs-12">
                        <i class="fa fa-sliders">  {{ channel_no }}</i>
                    </div>

                    <div class="delete col-xs-12">
                        <button type="button" class="btn btn-primary" id="delete_{{ channel_no }}" aria-label="Delete patch">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true">.</span>
                        </button>
                    </div>  
                    
                </div>
                
                <div class="patch_side_right col-xs-8">

                {% for spotlight in patch.spotlights %}

                    {% set dmx = spotlight.address %}

                    {# Standard for BW #}
                    {% set type = 'fa-lightbulb-o' %}
                    
                    {# If RGB #}
                    {% if spotlight.type == 1 %}
                        {% set type = 'fa-spinner' %}
                    {% endif %}
                
                    <div class="col-xs-12">
                        <i class="fa {{ type }}">  {{ dmx }}</i>
                    </div>
                {% endfor %}
                <!-- Input dipslay end -->    

                </div>
                
            </div>
        </div>

        {% endfor %}
        <!-- Channel display end -->    

        <!-- Adding a new patch :: button -->
        <div class="channel col-lg-2 col-sm-4 col-xs-6">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" id="new_patch_btn" 
                                        data-toggle="modal" data-target="#newPatchModal">
                  New patch
            </button>
        </div>

        <!-- Adding a new patch :: modal view -->
        <!-- Modal -->
        <div class="modal fade" id="newPatchModal" tabindex="-1" role="dialog" aria-labelledby="adding_a_new_patch">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    
                    <form action="add_patch" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">New patch</h4>
                        </div>
                        
                        <div class="modal-body">
                                
                            <!-- Selecting the channel -->
                            <div class="row channel_div">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        <i class="fa fa-sliders"></i>
                                    </span>
                                    <input type="text" name="channel_selected" class="form-control" 
                                            placeholder="Channel number" aria-describedby="basic-addon1">

                                    <input type="hidden" name="field_count" id="field_count" value="1">
                                </div>
                            </div>
                        
                            <!-- Selecting the inputs -->
                            <div class="row input">
                                <div class="col-xs-12">
                                    <table class="table" id="dmx_inputs">
                                        <tr>
                                            <td>
                                                <input type="text" class="dmx_input" name="inputs[0][dmx]" placeholder="DMX (starting) address">
                                            </td>
                                            <td>
                                                <div class="col-xs-6 spot_type btn-group" data-toggle="buttons">
                                                    <label class="btn btn-primary active">
                                                        <input type="radio" name="inputs[0][type_del]" value="on">
                                                        <i class="fa fa-lightbulb-o">  PAR</i>
                                                    </label>
                                                    <label class="btn btn-primary">
                                                      <input type="radio" name="inputs[0][type_led]" value="off">
                                                      <i class="fa fa-spinner">  LED</i>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default add_input_btn">Add</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="row" id="footer">
        <div class="col-xs-12 btn-group btn-group-lg" role="group">
            <button type="button" id="control_btn" class="col-xs-6 btn btn-default">Control</button>
            <button type="button" id="patch_btn" class="disabled col-xs-6 btn btn-default">Patch</button>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}

{# parent() #}

<!-- Scripts for patch -->
<script type='text/javascript' src="js/bootstrap.min.js"></script>
<script type='text/javascript' src="js/patch.js"></script>

{% endblock %}
